

.img-header{
margin: 0px;
float: left;
}

#jmlView{
font-style: normal;

}

.blok{
color: #cc181e;
font-weight: bold;
}

.ismal{
	padding: 8px 0px;
}
#NotifOff{
	cursor: pointer;
}

.skus {
    color: #21cc0e;
    font-weight: bold;
}

 .navigationDep,.navigationDraw{
	float: left;
	width: auto;
	list-style: none;
	padding: 0px;
}
.navigationDep li,.navigationDraw li{
	float: left;
	padding: 0px 0px 0px 0px;
}

.navigationDep li .btn,.navigationDraw li .btn{
	border-right: 1px solid #ddd; 
	border-left: none;
	background: #fafafa;
    color: #666; 
    border-radius: 0px;
    box-shadow: none;
}

.navigationDep li .btn:focus, .navigationDep li .btn:hover, .navigationDep li .btn:focus, .navigationDep li .btn:hover {
    z-index: 2;
    color: #23527c;
    background: #337ab7;
	color: #fff;
}

.navigationDraw li .btn:focus, .navigationDraw li .btn:hover, .navigationDraw li .btn:focus, .navigationDraw li .btn:hover {
    z-index: 2;
    color: #23527c;
    background: #337ab7;
	color: #fff;
}

.navigationDep li .active,.navigationDraw li .active{
	background: #337ab7;
	color: #fff;
}



.nametbl{
	width: 80px;
}

.banktbl{
	width: 140px;
}

.page{
	padding: 0px;
}

.firstDep,.lastDep,.firstDraw,.lastDraw{
	float: left;
	width: auto;
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.firstDep li .btn,.firstDraw li .btn{
	    border-radius: 3px 0px 0px 3px;

}

.lastDep li .btn,.lastDraw li .btn{
	    border-radius: 0px 3px 3px 0px;

}
#Notifdeposit,#Notifwithdraw,#Notifuser{
	cursor: pointer;
}
#Modals{
	background: #fff;
	width: 100%;
}

.modal-footer{
	width: 100%;
}

.njh{
	float: left;
	width: auto;
}
.rde{
	float: left;
	color: #21cc0e;
	padding: 0px 15px;
	font-weight: bold;

}

.rdef{
	float: left;
	color: #ff0000;
	padding: 0px 15px;
	font-weight: bold;

}
.vfgr{
	width: 100%;
}
.ismale{
	padding: 0px 0px;
}
.drop{
	margin-left: -20px;
	min-width: 50px;
}

.bg-blues {
    background-color: #0160af !important;
}

.logo-i {
    margin: 29px 0px;
    float: left;
}

.topup{
    margin: 14px 10px;
    float: left;
    font-weight: bold;
    font-size: 16px;
}

.ptr{

	 margin: 7px 0px;
}
