/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
.ui-tabs-hide {
display: none;
}
}

/* Hide useless elements in print layouts... */
@media print {
.ui-tabs-nav {
display: none;
}
}

/* Skin */
.ui-tabs-nav, 
.ui-tabs-panel {
font-family: Helvetica, Arial, sans-serif;
font-size: 11px;
}

.ui-tabs-nav {
list-style: none;
margin: 0;
padding: 0;
}

.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
display: block;
clear: both;
content: " ";
}

.ui-tabs-nav li {
float: left;
margin: 0 3px 3px 0;
}

.kategori {
    float: left;
    position: relative;
    width: 115px;
    height: 70px;
    color: #FFF;
    background: url('images/tab_kategori.png') no-repeat scroll left top transparent;
    padding: 7px 0px 0px 10px;
    display: inline;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.kategori span{
font-size: 11px;
display: block;
}

.ui-tabs-nav li .tabhidden{
visibility:hidden;
margin:0px;
padding:0px;
}

.ui-tabs-nav a {
display: block;
text-align:left;
padding: 0 10px 0 3px;
background: url("images/transparanmore.png"/*tpa=http://tangerangmaps.com/images/transparanmore.png*/) repeat;
float:left;
width: auto;
height:25px;
line-height:22px;
text-decoration: none;
color:#163f5f;
-moz-border-radius:4px;
-khtml-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #bdd2e3;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow:0 0 1px #ffffff;
margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
white-space: nowrap; /* required in IE 6 */    
outline: 0; /* prevent dotted border in Firefox */
}

.ui-tabs-nav 
.ui-tabs-selected a {
color: #000000;
background: url("../images/transparan.png"/*tpa=http://tangerangmaps.com/images/transparan.png*/) repeat;
border:1px solid #e6eef5;
}

.ui-tabs-nav 
.tabicon{
width:18px;
height:24px;
margin-right:6px;
padding:0;
float:left;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

.ui-tabs-nav 
.tabicon img{
width:18px;
height:24px;
}


.ui-tabs-nav
.tabtext{
font-weight:bold;
float:left;
text-align:right;
}



.ui-tabs-nav a span {
width: 64px; /* IE 6 treats width as min-width */
min-width: 64px;
height: 18px; /* IE 6 treats height as min-height */
min-height: 18px;
padding-top: 6px;
padding-right: 0;
}


*>.ui-tabs-nav a span { /* hide from IE 6 */
width: auto;
height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
padding-bottom: 1px;
}

.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
cursor: text;
}

.ui-tabs-nav a:hover, 
.ui-tabs-nav a:focus, 
.ui-tabs-nav a:active,
.ui-tabs-nav 
.ui-tabs-deselectable a:hover, 
.ui-tabs-nav .ui-tabs-deselectable a:focus, 
.ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
cursor: pointer;
background: url("../images/transparan.png"/*tpa=http://tangerangmaps.com/images/transparan.png*/) repeat;
border:1px solid #e6eef5;
}
.ui-tabs-disabled {
opacity: .4;
filter: alpha(opacity=40);
}

.ui-tabs-panel {
    border-radius: 5px;
    background: url('images/tab_pages.png') no-repeat scroll left top #ACC8DE;
    overflow: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
    color: #333;
}

.ui-tabs-panel a {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    background: url('../images/tab_icon_panah.png') no-repeat scroll left center #BDD4E6;
    padding: 2px 2px 2px 17px;
    height: 15px;
    width: 165px;
    margin: 2px;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
}


.ui-tabs-panel a:hover {
    background: url('images/tab_icon_panah.png') no-repeat scroll left center #E3EBF7;
}
#peta {
    margin: 0px auto;
    width: 100%;
    height: auto;
}
.map_bg {

    width: auto;
    height: auto;
    margin: 0px auto;
    padding: 10px;
    background: url('images/blacktransparan.png') repeat scroll 0% 0% transparent;
    border-radius: 5px 0px 5px 5px;
}

#search {
   width: 100%;
height: 28px;
margin: 5px auto;

}
#search-box {
    float: right;
    border: medium none;
   width: 253px;
height: 40px;
    margin: 0px;
    background: url('images/blacktransparan.png') repeat scroll 0% 0% transparent;
    padding: 9px 10px 0px;
    border-radius: 3px 3px 0px 0px;
}
#cari {
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 3px 0px 0px 3px;
    height: 22px;
    width: 190px;
    padding: 3px 2px 3px 5px;
    float: left;
    border: medium none;
}

#sbutton {
    height: 23px;
    width: 35px;
    color: #FFF;
    background: url('images/search.png') no-repeat scroll center center #313131;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    border: medium none;
    float: left;
}

#label_kat{
float: left;
width:auto;
height:40px;
color:#FFFFFF;
}

#label_kat .kat_icon{
width:30px;
height:40px;
margin-left:5px;
padding:0 5px 0 0;
float:left;
}

#label_kat .kat_text{
padding-top:10px;
font-size: 16px;
font-weight:bold;
float:left;
text-align:left;
text-shadow:1px 1px 1px #000000;
}

.kat_list{
overflow: auto;
width: 100%;
height:180px;
padding:5px;
color:#333333;
float:right;
}

.loading{
height:30px;
width:50px;
margin:20px auto;
text-align:center;
font-weight:bold;
}

 #welcome {
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #acc8de;
    width: 100%;
    height: 196px;
    margin-top: 10px;
    color: #455159;
    font-size: 12px;
    text-shadow: 0 0 1px #ffffff;
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
} 
 #welcome .logo {
    width: 150px;
    height: 170px;
    float: left;
    background: url('images/label.png') no-repeat scroll center center transparent;
    padding: 5px;
} 

.ui-tabs-loading em {
padding: 0 0 0 20px;
background: url("loading.gif"/*tpa=http://tangerangmaps.com/css/loading.gif*/) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
display: inline-block;
}

#areamap {
    float: left;
    width: 100%;
}

#areamap .koordinat {
    float: left;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    background: none repeat scroll 0% 0% #313131;
    text-shadow: none;
}
#areamap .koordinat .pade {
    float: left;
    padding: 10px;
    width: 100%;
}

#mitrais{
float: left;
    padding: 10px;
    width: 100%;

}
#mitrais .left{
float: left;
width: 500px;
}

#mitrais .right{
float: right;
width: 98px;
}    


#mitrais .left .inpt{
float: left;


}

#mitrais .left .ixp{
float: left;
padding: 0px 10px;
font-weight: bold;
}



